// 如果引入的文件是被别的文件包含的，那么需要在前面加个下划线，然后引入的时候又不需要加下划线
@import './variables';
* {
    //为了不让padding影响到盒子
    box-sizing: border-box;
    //tab 不要高亮
    outline: none;
}

html {
    font-size: 13px;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2rem;
    background: #f1f1f1;
    // 字体平滑 粗细变小
    -webkit-font-smoothing: antialiased;
}
a {
    color: #999;
}

p {
    line-height: 1.5rem;
}

@each $colorKey, $color in $colors {
    //文字颜色
    .text-#{$colorKey} {
        color: $color;
    }
    // 背景颜色
    .bg-#{$colorKey} {
        background-color: $color;
    }
}

// width  height
.w-100 {
    width: 100%
}
.h-100 {
    height: 100%
}


// text对其方式 each循环
@each $var in (left, center, right) {
    .text-#{$var} {
        text-align: $var !important;
    }
}


// text 字体大小

@each $sizeKey, $size in $font-sizes {
    .fs-#{$sizeKey} {
        font-size: $size * $base-font-size;
    }
}

// 文字溢出处理
.text-ellipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; //不换行
}

// flex
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}



@each $key, $val in $flex-jc {
    .jc-#{$key} {
        justify-content: $val;
    }
}



@each $key, $val in $flex-ai {
    .ai-#{$key} {
        align-items: $val;
    }
}

.flex-1 {
    flex: 1;
}

// m-0,mx-0


@each $typeKey, $type in $spacing-types {
    @each $sizeKey, $size in $spacing-sizes{
        //m-0:{margin: 0};
        .#{$typeKey}-#{$sizeKey} {
            #{$type}: $size * $spacing-base-size;
        }
        // .mx-1, .my-1
        .#{$typeKey}x-#{$sizeKey} {
            #{$type}-left: $size * $spacing-base-size;
            #{$type}-right: $size * $spacing-base-size;
        }
        .#{$typeKey}y-#{$sizeKey} {
            #{$type}-top: $size * $spacing-base-size;
            #{$type}-bottom: $size * $spacing-base-size;
        }
    }
    
    
    // mt-1: {margin-top:1rem}
    @each $directionKey, $direction in $spacing-directions {
        @each $sizeKey, $size in $spacing-sizes {
            .#{$typeKey}#{$directionKey}-#{$sizeKey}{
                #{$type}-#{$direction}: $size * $spacing-base-size;
            }
        }
    }
}
    

// button
.btn {
    border: none;
    border-radius: 0.1538rem;
    // map-get可以从上面定义的数据中拿到
    font-size: map-get($map: $font-sizes, $key: "sm") * $base-font-size;
    padding: 0.2rem 0.6rem;
    &.btn-lg {
        display: flex;
        justify-content: center;
        align-items: center;
        background: map-get($map: $colors, $key: 'white-1');
        border: 1px solid map-get($map: $colors, $key: 'white-2');
        padding: 0.8rem 0;
        font-size: 1rem;
        i {
            color: map-get($map: $colors, $key: 'primary');
            font-weight: bold;
            font-size: 1.5rem;
            margin-right: 0.5rem;
        }
        
    }
    
    
}

// nav
nav {
    display: flex;
    .nav-item {
        // 每个都需要设置边框，不然一个有，其他没有，x轴就不对齐了
        border-bottom: 0.2308rem solid transparent;
        padding-bottom: 0.2rem;
        // 有active就显active的样式，没有就显原来的
        &.active {
            color: map-get($map: $colors, $key: 'primary');
            border-bottom-color: map-get($map: $colors, $key: 'primary' );
        }
    }
    &.nav-inverse {
        .nav-item {
            color: map-get($map: $colors, $key: 'white' );
            &.active{
                border-bottom-color: map-get($map: $colors, $key: 'white' );
            }
        }
    }
}

// 精灵图
.sprite{
    background: url(../images/index.png) no-repeat 0 0;
    // 一般设计师都是按iphone6的尺寸来设计图片的,如果做的图片也是375的话,就会比较模糊,所以会使用双倍像素
    background-size: 28.8462rem;//375px
    display: inline-block;
    // 爆料站图标
    &.sprite-news {
        width: 1.7692rem;//23px;
	    height: 1.5385rem;//20px
        background-position: 63.546% 15.517%; //-448px -135px;
    }
    // 收起箭头图标
    &.sprite-arrow {
        background-position: 38.577% 52.076%;
        width: 0.7692rem;//10px
        height: 0.7692rem;//10px
    }
}

// 边框
@each $var in (top, bottom, right, left) {
    .border-#{$var} {
        border-#{$var}: solid 1px $border-color;
    }
}